body{
   margin-left: 30px;
   margin-right: 30px;
}

nav {
    margin-bottom: 50px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

input{
    margin-bottom: 10px;
    margin-top: 50px;

}

select {
    margin-bottom: 10px;
    margin-top: 50px;

}