.margin-general{
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    margin-bottom: 30px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

h3{
    margin: 20px 0px;
}

input{
    margin-bottom: 10px;
    margin-top: 50px;

}



select {
    margin-bottom: 10px;
    margin-top: 50px;

}

.spaced{
    margin-bottom: 30px;
}


input.no-spacing{
    margin-bottom: 0px;
        margin-top: 0px;
}

footer{
    margin-top: 30px;
    background-color: black;
    height: 200px;
}

.row-way{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 25%;
    color: white;
    font-weight: bold;
}

.pos-fixed{
    z-index: 1;
    position: fixed;
    width: 100%;
}